.feed__container {
<<<<<<< HEAD
  width: 35vw;
  min-width: 300px !important;
}

@media (max-width: 900px) {
  .feed__container {
    width: 80vw;
    max-width: 350px;
    margin: 20px auto;
  }
}
=======
    width: 35vw;
    min-width: 300px !important;
}

@media (max-width: 900px) {

    .feed__container {
        width: 80vw;
        max-width: 350px;
        margin: 20px auto;
    }

}
>>>>>>> 79f5cc492d6c2746361db403351383cefa27394e
